html, body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 200px;
  }
  
  #score-container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #start-button {
    color: white;
    background-color: black;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 25px;
  }
  
  canvas {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  #kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .hands {
    background-color:blueviolet;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    grid-column: 1;
    grid-row: 3;
  
  }
  